<a href="https://colab.research.google.com/github/Ingaletanvi/DSBDA/blob/main/10_11_titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Use the dataset 'titanic'. Use the Seaborn library to see if we can find any patterns in the data.
2. Write a code to check how the price of the ticket (column name: 'fare') for each passenger is distributed by plotting a
histogram.
-----------------------------------------------------------------------------------------------------------------------------------------------
Problem Statement No. 11
1. Use the dataset 'titanic'. Plot a box plot for distribution of age with respect to each gender along with the information
about whether they survived or not. (Column names : 'sex' and 'age')
2. Write observations on the inference from the above statistics. Use violin plot and others plots from seaborn package

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("/content/titanic.csv")

In [ ]:
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
df['Embarked']=df['Embarked'].fillna('S')

In [ ]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [ ]:
df['Cabin_new'] = df['Cabin'].fillna(0)
df['Cabin_new'] = df['Cabin'].notnull().astype(int)

In [ ]:
df.isnull().sum()

In [ ]:
df.drop(columns=['Cabin'],inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
survived = df['Survived'].value_counts()
survived

In [ ]:
plt.figure(figsize=(6,6))
plt.pie(survived,labels=['Not Survived','Survived'],autopct='%1.1f%%',colors=['pink','skyblue'])
plt.title('Survival Status')
plt.show()

In [ ]:
sns.set_style("whitegrid")
plt.figure(figsize=(6,6))
sns.countplot(x='Survived',hue='Survived',data=df,palette=['pink','lightblue'])
plt.title('Survival Status')
plt.xlabel('Survived')
plt.ylabel('Count')
plt.show()

In [ ]:
plt.figure(figsize=(10, 5))
sns.histplot(df['Fare'], bins=20, kde=True)
plt.xlabel('Fare')
plt.ylabel('Frequency')
plt.title('Distribution of Ticket Prices (Fares)')
plt.show()

In [ ]:
sns.boxplot(x='Sex', y='Age', data=df, hue="Survived")

In [ ]:
sns.violinplot(x='Sex', y='Age', data=df, hue="Survived", palette=['lightcoral', 'cyan'])