<a href="https://colab.research.google.com/github/Ingaletanvi/DSBDA/blob/main/7_dirtynba.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Perform the following operations using Python on any open source dataset.
1. Import all the required Python Libraries.
2. Load the Dataset into pandas data frame.
4. Data Preprocessing: check for missing values in the data to get some initial statistics. Provide variable descriptions.
Types of variables etc. Check the dimensions of the data frame.
5. Data Formatting and Data Normalization: Summarize the types of variables by checking the data types (i.e.,
character, numeric, integer, factor, and logical) of the variables in the data set. If variables are not in the correct data
type, apply proper type conversions.
6. Turn categorical variables into quantitative variables in Python. In addition to the codes and outputs, explain every
operation that you do in the above steps and explain everything that you do to import/read/scrape the data set.
Use NBA.CSV, Dirtydata.csv

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_data = pd.read_excel("/content/dirtydata.xlsx")
df_nba = pd.read_excel("/content/nba.xlsx")

In [ ]:
df_data.head()

In [ ]:
df_nba.head()

In [ ]:
df_data.shape

In [ ]:
df_data.describe()

In [ ]:
df_data.isnull().sum()

In [ ]:
df_data['Calories'].fillna(df_data['Calories'].mean(), inplace=True)

In [ ]:
df_data

In [ ]:
df_data.isnull().sum()

In [ ]:
df_data.duplicated()

In [ ]:
df_data.loc[24]

In [ ]:
df_data['Calories'] = df_data['Calories'].abs()

In [ ]:
df_data.head()

In [ ]:
df_data = df_data.dropna()

In [ ]:
df_data

In [ ]:
df_data.isnull().sum()

In [ ]:
performance= df_nba.select_dtypes(exclude=[np.number])

In [ ]:
performance

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
cols = ['Name','Team', 'College', 'Position']
for i in cols:
    performance[i] = label_encoder.fit_transform(performance[i])
performance